<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springbootdata.test.postgres.mapper.UserMapper">

    <resultMap id="UserResultMap" type="com.springbootdata.test.postgres.entity.UserEntity">
        <result column="user_id" jdbcType="VARCHAR" property="userId" />
        <result column="user_name" jdbcType="VARCHAR" property="userName" />
    </resultMap>

<!--    <select id="sel" resultType="com.springbootdata.test.postgres.entity.UserEntity">-->
<!--        select * from "user" where user_id = #{id}-->
<!--    </select>-->

    <select id="sel" resultMap="UserResultMap">
        select * from "user" where user_id = #{id}
    </select>

</mapper>